.loader_bg {
    position: fixed;
    z-index: 999999;
    background: rgb(255, 168, 233);
    width: 100%;
    height: 100%;
}
.loader {
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
    content: "";
    border: 1em solid #cc20cc;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 3s linear infinite;
    opacity: 0;
}
.loader:before {
    animation-delay: 0.5s;
}
@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 156, 156);
}

.encabezado1 {
    width: 100%;
    background-color: rgb(209, 63, 209);
    height: 50px;
    position: fixed;
    z-index: 1;
}

.encabezado1 a {
    text-decoration: none;
    color: white;
}

.menu1 { 
    text-align: center;
    margin: auto;
    width: 95%;
}

#nav {
    margin-top: 11px;
    margin-left: 90px;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 40px;
    font-family: sans-serif;
    font-size: 24px;
}

nav li a{
    display: block;
    width: 302px;
}

nav > li{
    float: left;
}

nav li ul{
    display:none;
    position: absolute;  
}

nav li ul li {
    position: relative;
}

nav li ul li ul{
    right: -224px;
    top: 0px;
}

nav > ul > li {
    line-height: 40px;
    float: left;
    transition: all 300ms;
    position: relative;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav > ul > li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(24, 24, 24);
    text-decoration: none;
}


nav > ul > li:hover > ul > li {
    background-color: #f2f1f0;
    padding: 8px;
    line-height: 25px;
    font-size: 14px;
    transition: all 300ms;
    width: 226px;
}

nav ul li:hover > ul {
    display: block;
}

nav > ul li:hover {
    background-color: #3f71df;
    border-radius: 12px;
}

nav > ul > li a:hover {
    color: white;
}

nav > ul > li > ul > li a:hover {
    color: #3f71df;
}

#redes nav > ul > li > ul > li > ul > li > a:hover {
    color: #3f71df;
}

nav .sub-menu li a {
    display: block;
}

nav > ul > li > ul > li:hover > ul > li {
    background-color: #f2f1f0;
    padding: 8px;
    line-height: 25px;
    font-size: 14px;
    transition: all 300ms;
    width: 226px;
}

/*Formularios*/
input[type = "text"],
input[type = "email"],
input[type = "password"],
select {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #cccccc inset;
    background-color: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type = "text"]:focus,
input[type = "email"]:focus,
input[type = "password"]:focus,
select:focus {
    border: 1px solid #70b231;
    color: black;
}

input[type = "button"],
input[type = "submit"],
input[type = "reset"],
button {
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    width: 60px;
    padding: 3px;
    color: white;
    background-color: #70b231;
    cursor: pointer;
}

input[type = "button"]:hover,
input[type = "submit"]:hover,
input[type = "reset"]:hover,
button:hover {
    box-shadow: 0px 0px 2px gray;
}

input[type = "button"]:active,
input[type = "submit"]:active,
input[type = "reset"]:active,
button:active {
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #cccccc;
}

#redes {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.822);
    border-left: 1px solid rgba(255, 255, 255, 0.795);
}

#redes span {
    padding-left: 4px;
}

.encabezado2 {
    padding-top: 15px;
    padding-left: 10px;
    background-color: rgba(246, 198, 250, 0.774);
    display: flex;
    width: 100%;
    height: 100px;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    top: 3em;
}

.encabezado2 .logo {
    margin-left: 50px;
    margin-bottom: 20px;
}


/* PARTE NUEVA MAIN-ARTICL / INICIO */


#content {
    width: 1250px;
    min-height: 1400px;
    margin: 0px auto;
    font-family: sans-serif, Arial, Helvetica;
    background: url(https://mellowmushroom.com/wp-content/themes/mm/images/svg/Orbit-Mobile-80589.svg.jpg), 
                url(https://mellowmushroom.com/wp-content/themes/mm/images/svg/Orbit-XLarge_V2.svg);
}

/*Barra lateral*/
#aside,
#frase {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.658);
    border: 2px solid #fcadff;
    box-shadow: 0px 2px 2px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

#frase {
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    color: #333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background-color: #f2f3f2c4;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

/*Formularios barra lateral*/
#aside div label,
#aside div input[type = "text"],
#aside div input[type = "email"],
#aside div input[type = "password"],
#aside div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type = "button"],
#aside div input[type = "submit"],
#aside div button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label {
    margin: 0 auto;
    text-align: center;
}

/*Secciones*/

#sections {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections .titulo {
    font-family: "fjalla";
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #773000;
}

#sections section {
    margin-top: 40px;
    background-color: rgba(241, 241, 241, 0.719);
    padding: 20px;
    border: 2px solid #fcadff;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {
    color: gray;
    font-size: 14px;
}

#sections .stickerOne,
#sections .stickerTwo {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .stickerTwo {
    margin-left: 860px;
}

#history {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}



.footer {
    width: 100%;
    border: none;
    background-color: rgb(58, 21, 53);
    color: rgb(185, 184, 184);
}

.footer .container3 {
    display: flex;
    width: 85%;
    margin: auto;
    height: 530px;
}

.container3 #cajas {
    margin-top: 80px;
    line-height: 170%;
    width: 25%;
    height: 500px;
    display: block;
    padding-left: 3px;
    padding-right: 20px;
    text-align: left;
}

.container3 h3 {
    font-family: "Segoe UI", sans-serif;
    font-size: 13pt;
}

.footer .itin{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer ul {
    list-style: none;
    font-size: 12pt;
}

.footer a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-family: "Segoe UI", sans-serif;
    font-size: 11pt;
}

.derechos {
    height: 60px;
    background-color: rgb(20, 20, 20);
}

.derechos p {
    padding-top: 20px;
    text-align: center;
}
